body {
  padding: 0;
}

.kaushan {
  font-family: "Kaushan Script", Arimo, Arial, sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 5px;
}


/* TOP
===================================================================== */


#top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 660px;
  overflow: hidden;
  margin: 0 auto;
}

#top ul {
  position: relative;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

#top ul > li {
  position: relative;
  display: block;
  float: left;
  width: 33.333333%;
  transition: width .5s;
}

#top ul > li > img {
  max-width: none;
  border-right: 30px solid #111;
}

#top .in-item1 .item2,
#top .in-item1 .item3,
#top .in-item2 .item1,
#top .in-item2 .item3,
#top .in-item3 .item1,
#top .in-item3 .item2 {
  width: 10%;
}

#top .in-item1 .item1,
#top .in-item2 .item2,
#top .in-item3 .item3 {
  width: 80%;
}

#top .kaushan {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 400px;
  line-height: 400px;
  margin-top: -260px; /* - ((height / 2) + (padding-top * 2)) */
  margin-left: -250px; /* - ((width / 2) + padding-lef) */
  padding: 50px;
  color: #fff;
  background: #333;
  background: rgba(0, 0, 0, .7);
  text-shadow: 0 0 60px rgba(255, 255, 255, .6);
  border-radius: 100%;
  transition: .5s;
}

#top .kaushan span {
  display: inline-block;
  vertical-align: middle;
  line-height: 52px;
}

#top:hover .kaushan {
  top: -100%;
}


/* HEADER
===================================================================== */


#header {
  /* margin-top: 660px; */
  padding: 0;
  font-weight: 400;
  transition: margin-top .5s;
}

#header .brand {
  display: block;
  max-width: 320px;
  text-align: center;
  line-height: 102px; /* outer height do .nav */
  background: #ccc; 
}

#header .brand img {
  max-width: 90%;
}

#header .nav {
  margin: 40px 0;
}

#header .nav > li {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
}

#header .nav > li > a {
  text-align: center;
  text-transform: uppercase;
  background: none;
}

#header .nav > li > a:hover,
#header .nav > li > a:focus,
#header .nav > .active > a {
  font-weight: 600;
}

/* fixed */

.fixed #header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin-top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .95);
  transition: none;
}


/* BANNER
===================================================================== */


#banner {
  padding-top: 0;
  padding-bottom: 0;
  background: #d7c08d url('../img/banner1.png') no-repeat -30% 0;
  color: #220e0a;
}

#banner .block-flush {
  background: url('../img/banner2.png') no-repeat 130% 0; 
}

#banner h1,
#banner .lead {
  margin-left: 5%;
  margin-right: 5%;
}

#banner .lead {
  margin-bottom: 0;
}


/* EMPRESA
===================================================================== */


#empresa {
  overflow: hidden;
}

#empresa h1 {
  font-size: 200%;
  line-height: 1;
  color: #666;
  text-transform: uppercase;
}

#empresa .col2 {
  position: relative;
}

#empresa .col2 img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: none;
}


/* PORTFOLIO
===================================================================== */


#portfolio {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  background: #d7c08d url(../img/portfolio.png);
  text-align: center;
}

#portfolio > .block-flush {
  padding-bottom: 0;
  background: url(../img/portfolio-container.png) no-repeat top center;  
}

#portfolio h1 {
  margin-right: 5%;
  margin-left: 5%;
  color: #220e0a;
}

#portfolio .view {
  position: relative;
}

#portfolio .view .casal {
  position: absolute;
  bottom: 0;
  width: 50%;
  max-width: 405px;
  right: -15%;
} 

#portfolio .view .carousel {
  background: #fff;
  margin: 0;
  padding: 4px;
  box-shadow: 0 0 25px #220e0a;
}

#portfolio .view .carousel .item > img {
  display: inline-block;
  width: 100%;
}

#portfolio .view .carousel-control {
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 1;
  opacity: 1;
  text-indent: -9999px;
  border-radius: 0;
  background-color: transparent;
  background-color: rgba(0, 0, 0, .001); /* ie fix */
}

#portfolio .view .carousel-control.right {
  left: auto;
  right: 0;
}

#portfolio .view .carousel-control::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 5%;
  width: 48px;
  height: 48px;
  margin-top: -30px;
  padding: 12px;
  background: #220e0a url(../img/arrows-large.png) 0 6px;
  border: 2px solid #fff;
  opacity: 0;
  border-radius: 100%;
  transition: opacity 1s, left .8s, right .8s;
}

#portfolio .view .carousel:hover .carousel-control::after {
  left: 10%;  
  opacity: .9;
}

#portfolio .view .carousel-control.right::after {
  left: auto;
  right: 5%;
  background-position: 6px 66px;
}

#portfolio .view .carousel:hover .carousel-control.right::after {
  left: auto;
  right: 10%;  
}

#portfolio .thumbs {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #220e0a;
  background: rgba(34, 14, 10, .5);
}

#portfolio .thumbs .carousel {
  display: inline-block;
  margin: 5px 0 0;
  padding: 0 47px; /* width do .carousel-control + 10 */
}

#portfolio .thumbs .carousel .item > ul {
  list-style: none;
  margin: 0 -10px;
}

#portfolio .thumbs .carousel .item > ul > li {
  float: left;
  width: 25%;
  line-height: 1;
}

#portfolio .thumbs .carousel .item > ul > li > a {
  position: relative;
  display: block;
  margin: 10px;
  padding: 4px;
  background: #fff;
}

#portfolio .thumbs .carousel-control {
  left: 0;
  width: 27px;
  height: 51px;
  margin: -13px 0 0;
  padding: 0;
  border: 0;
  background: none;
  border-radius: 0;
  text-indent: -9999px;
  background: url(../img/arrows.png) top left;
  opacity: 1;
}

#portfolio .thumbs .carousel-control.right {
  left: auto;
  right: 0;
  background-position: bottom left;
}

#portfolio .thumbs .carousel-control:hover,
#portfolio .thumbs .carousel-control:focus {
  background-position: top right;
}

#portfolio .thumbs .carousel-control.right:hover,
#portfolio .thumbs .carousel-control.right:focus {
  background-position: bottom right;
}


/* CONTATO
===================================================================== */


#contato {
  padding-top: 0;
  padding-bottom: 0;
}

#contato address {
  margin-bottom: 0;
}

#contato address span {
  display: table-cell;  
  width: 1%;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  line-height: 34px;
}

#contato address span i {
  display: block;
  height: 48px;
  width: 48px;
  margin: 0 auto 5px;
}

#contato address .phone i {
  background: url(../img/phone.png);
}

#contato address .address i {
  background: url(../img/address.png);
} 

#contato .grupo-zanini {
  display: block;
  margin-bottom: 0;
  line-height: 1;
  text-align: center;
}

#contato .grupo-zanini a {
  color: #666;
}

#contato .grupo-zanini a:focus,
#contato .grupo-zanini a:hover {
  text-decoration: none;
}

#contato .grupo-zanini strong {
  font-size: 120%;
}

#contato .block-flush {
  background: #000 url(../img/contato-container.png) no-repeat top center; 
  text-align: center;
}

#contato .block-flush .container {
  max-width: 560px;
  width: auto;
}

#contato .block-flush h1 {
  color: #fff;
}

#contato .block-flush .lead {
  margin-right: 10%;
  margin-left: 10%;
}

#contato .block-flush form {
  margin-bottom: 0;
}

#contato .block-flush input[type="text"],
#contato .block-flush input[type="email"],
#contato .block-flush textarea,
#contato .block-flush button {
  padding: 6px 12px;
  height: 38px;
  border-color: #000;
}

#contato .block-flush input[type="text"],
#contato .block-flush input[type="email"],
#contato .block-flush textarea {
  background: #050505;
}

#contato .block-flush textarea {
  height: 86px;
  max-width: 100%;
}

#contato .block-flush label {
  margin-bottom: 11px;
}


/* FLASH
===================================================================== */


#flash {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #333;
  color: #fff;
  transition: bottom .3s;
}

#flash.hide {
  display: block;
  bottom: -100%;
}


/* RESPONSIVE
===================================================================== */


@media (min-width: 1200px) { 

  #banner {
    background-position: top left;
  }

  #banner .block-flush {
    background-position: top right; 
  }

  #banner h1,
  #banner .lead {
    margin-left: 10%;
    margin-right: 10%;
  }

  #portfolio h1 {
    margin-right: 20%;
    margin-left: 20%;
  }

  #portfolio .view {
    width: 90%;
    margin: 0 5%;    
  }

  #portfolio .view .casal {
    width: auto;
    right: -20%;
  }  

  #contato address span {
    text-align: left;
    line-height: 48px;
  }

  #contato address span i {
    float: left;
    margin-right: 10px;
  }

}


@media (max-width: 979px) and (min-width: 768px) {

  #banner .block-flush {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #portfolio .view .casal {
    right: -20%;
  }

}


@media (max-width: 767px) {

  h1 {
    font-size: 220%;
    line-height: 1.1;
  }

  .lead {
    font-size: 130%;
    line-height: 1.3;
  }

  .kaushan {
    font-size: 220%;
    line-height: 1.3; 
  }

  .btn,
  select, 
  textarea, 
  input[type="text"], 
  input[type="password"], 
  input[type="datetime"], 
  input[type="datetime-local"], 
  input[type="date"], 
  input[type="month"], 
  input[type="time"], 
  input[type="week"], 
  input[type="number"], 
  input[type="email"],
  input[type="url"], 
  input[type="search"], 
  input[type="tel"], 
  input[type="color"], 
  .uneditable-input {
    font-size: 90%;
  }

  #top {
    display: none;
  }

  #header .brand {
    max-width: none;
  }

  #banner {
    background-image: url('../img/banner-max-767px.png');
    background-position: center;
    background-size: cover;
  }

  #banner .block-flush {
    background: none;
  }

  #banner h1,
  #banner .lead {
    margin-right: 0;
    margin-left: 0;
  }

  #empresa {
    text-align: center;
  }

  #empresa .col2 img {
    position: relative;
    left: 10%;
    margin-bottom: -45%;
    max-width: 110%;
  }

  #portfolio .view .casal {
    width: 53%;
    right: -17%;
  }

  #portfolio .view .carousel {
    padding: 2px;
  }

  #portfolio .view .carousel .item > img {
    min-width: 150%;
  }

  #portfolio .view .carousel-control:after {
    left: 10% !important;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-image: url('../img/arrows-large-max-767px.png');
    background-position: 0 4px;
    opacity: .9;
  }

  #portfolio .view .carousel-control.right:after {
    left: auto !important;
    right: 10% !important;
    background-position: 4px 44px;
  }

  #portfolio .thumbs .carousel-control {
    margin-top: -18px;
  }

  #portfolio .thumbs .carousel .item > ul > li > a {
    padding: 2px;
  }

}